<a href="https://colab.research.google.com/github/phucdo0912/ueh25_kythuatlaptrinh_stata_python/blob/main/buoi_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# comment
'''
comment
'''
print ("Hello World")
display ("Hello World")

Hello World

'Hello World'

In [8]:
# indent
score = 80
if score >= 60:
  print("pass")
  pass # dummy

pass

In [10]:
# variable
x=2
price=2.5
word='Hello'
print(word, type(word))

Hello <class 'str'>

In [17]:
x=2
y=x+1
print(x,y)
print(f'x={x},y={y}')

2 3
x=2,y=3

In [18]:
x = "Hello World" #str
x = 2 #int
x = 2.5 #float
x = 7j #complex

In [25]:
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = range(6) #range
print(x,list(x))
x = {"name" : "Tom", "age" : 20} #dict
print(x, x['age'])
x = {"apple", "banana", "cherry"} #set
x = frozenset({"apple", "banana", "cherry"})
#frozenset

range(0, 6) [0, 1, 2, 3, 4, 5]
{'name': 'Tom', 'age': 20} 20

In [27]:
x = True #bool
print(x, type(x))
x = b"Hello" #bytes
print(x, type(x))
x = bytearray(5) #bytearray
print(x, type(x))
x = memoryview(bytes(5)) #memoryview
print(x, type(x))
x = None #NoneType
print(x, type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7b78952dbf40> <class 'memoryview'>
None <class 'NoneType'>

## Ép kiểu (casting)

In [31]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

print(list(range(6)))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>
[0, 1, 2, 3, 4, 5]

##  Arithmetic Operators

In [32]:
'''
Operator Name Example
+ Addition 7 + 2 = 9
- Subtraction 7 - 2 = 5
* Multiplication 7 * 2 = 14
/ Division 7 / 2 = 3.5
// Floor division 7 // 2 = 3 (Quotient)
% Modulus 7 % 2 = 1 (Remainder)
** Exponentiation 7 ** 2 = 49
'''

'\nOperator Name Example\n+ Addition 7 + 2 = 9\n- Subtraction 7 - 2 = 5\n* Multiplication 7 * 2 = 14\n/ Division 7 / 2 = 3.5\n// Floor division 7 // 2 = 3 (Quotient)\n% Modulus 7 % 2 = 1 (Remainder)\n** Exponentiation 7 ** 2 = 49\n'

In [33]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

## Boolean (true/false)

In [34]:
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

In [36]:
# Tính toán BMI
# input
height_cm = 170
weight_kg = 60

# process
height_cm = height_cm / 100
bmi = weight_kg / (height_cm ** 2)

# output
print(f'BMI = {bmi}')

BMI = 20.761245674740486

In [37]:
# Future value of a specified principal amount, rate of interest, and a number of years
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))

fv =  194.87

In [38]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [40]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))
print('fv = ', round(fv, 2))

194.87
fv =  194.87

# Kết thúc