<a href="https://colab.research.google.com/github/phucdo0912/ueh25_kythuatlaptrinh_stata_python/blob/main/buoi03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# comment
'''
comment
'''
print ("Hello World")
display ("Hello World")

Hello World

'Hello World'

In [8]:
# indent
score = 80
if score >= 60:
  print("pass")
  pass # dummy

pass

In [10]:
# variable
x=2
price=2.5
word='Hello'
print(word, type(word))

Hello <class 'str'>

In [17]:
x=2
y=x+1
print(x,y)
print(f'x={x},y={y}')

2 3
x=2,y=3

In [18]:
x = "Hello World" #str
x = 2 #int
x = 2.5 #float
x = 7j #complex

In [25]:
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = range(6) #range
print(x,list(x))
x = {"name" : "Tom", "age" : 20} #dict
print(x, x['age'])
x = {"apple", "banana", "cherry"} #set
x = frozenset({"apple", "banana", "cherry"})
#frozenset

range(0, 6) [0, 1, 2, 3, 4, 5]
{'name': 'Tom', 'age': 20} 20

In [27]:
x = True #bool
print(x, type(x))
x = b"Hello" #bytes
print(x, type(x))
x = bytearray(5) #bytearray
print(x, type(x))
x = memoryview(bytes(5)) #memoryview
print(x, type(x))
x = None #NoneType
print(x, type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7b78952dbf40> <class 'memoryview'>
None <class 'NoneType'>

## Ép kiểu (casting)

In [31]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

print(list(range(6)))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>
[0, 1, 2, 3, 4, 5]

##  Arithmetic Operators

In [32]:
'''
Operator Name Example
+ Addition 7 + 2 = 9
- Subtraction 7 - 2 = 5
* Multiplication 7 * 2 = 14
/ Division 7 / 2 = 3.5
// Floor division 7 // 2 = 3 (Quotient)
% Modulus 7 % 2 = 1 (Remainder)
** Exponentiation 7 ** 2 = 49
'''

'\nOperator Name Example\n+ Addition 7 + 2 = 9\n- Subtraction 7 - 2 = 5\n* Multiplication 7 * 2 = 14\n/ Division 7 / 2 = 3.5\n// Floor division 7 // 2 = 3 (Quotient)\n% Modulus 7 % 2 = 1 (Remainder)\n** Exponentiation 7 ** 2 = 49\n'

In [33]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

## Boolean (true/false)

In [34]:
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

In [36]:
# Tính toán BMI
# input
height_cm = 170
weight_kg = 60

# process
height_cm = height_cm / 100
bmi = weight_kg / (height_cm ** 2)

# output
print(f'BMI = {bmi}')

BMI = 20.761245674740486

In [37]:
# Future value of a specified principal amount, rate of interest, and a number of years
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))

fv =  194.87

In [38]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [40]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))
print('fv = ', round(fv, 2))

194.87
fv =  194.87

# Data Structures

In [43]:
x = ["apple", "banana", "cherry"] #list
print(x, type(x))
x = ("apple", "banana", "cherry") #tuple
print(x, type(x))
x = {"name" : "Tom", "age" : 20} #dict
print(x, type(x))
x = {"apple", "banana", "cherry", "cherry"} #set
print(x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'banana', 'apple', 'cherry'} <class 'set'>

In [46]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
print(x[1:3])

4
60
70
90
[70, 80]

In [48]:
animals = {'cat', 'dog'}
print(animals)
print('cat' in animals)
print('fish' in animals)

animals.add('fish')
print('fish' in animals)
print(len(animals))

animals.add('cat')
print(len(animals))

animals.remove('cat')
print(len(animals))

{'dog', 'cat'}
True
False
True
3
3
2

In [50]:
s= "Hom nay la thư hai"
print(len(s),len(list(s)))
print(set(list(s)), len(set(list(s))))

18 18
{'i', 'l', 'm', 'y', ' ', 'n', 't', 'h', 'o', 'a', 'H', 'ư'} 12

In [68]:
# đếm số lượng xuất hiện của ký tự
s= "hom nay la thu hai"
d_cnt={}
for ci in s:
    if ci not in d_cnt:
        d_cnt[ci]=1
    else:
        d_cnt[ci]=d_cnt[ci]+1
    print(d_cnt)

{'h': 1}
{'h': 1, 'o': 1}
{'h': 1, 'o': 1, 'm': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 1, 'n': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 1, 'n': 1, 'a': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 1, 'n': 1, 'a': 1, 'y': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 2, 'n': 1, 'a': 1, 'y': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 2, 'n': 1, 'a': 1, 'y': 1, 'l': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 2, 'n': 1, 'a': 2, 'y': 1, 'l': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 3, 'n': 1, 'a': 2, 'y': 1, 'l': 1}
{'h': 1, 'o': 1, 'm': 1, ' ': 3, 'n': 1, 'a': 2, 'y': 1, 'l': 1, 't': 1}
{'h': 2, 'o': 1, 'm': 1, ' ': 3, 'n': 1, 'a': 2, 'y': 1, 'l': 1, 't': 1}
{'h': 2, 'o': 1, 'm': 1, ' ': 3, 'n': 1, 'a': 2, 'y': 1, 'l': 1, 't': 1, 'u': 1}
{'h': 2, 'o': 1, 'm': 1, ' ': 4, 'n': 1, 'a': 2, 'y': 1, 'l': 1, 't': 1, 'u': 1}
{'h': 3, 'o': 1, 'm': 1, ' ': 4, 'n': 1, 'a': 2, 'y': 1, 'l': 1, 't': 1, 'u': 1}
{'h': 3, 'o': 1, 'm': 1, ' ': 4, 'n': 1, 'a': 3, 'y': 1, 'l': 1, 't': 1, 'u': 1}
{'h': 3, 'o': 1, 'm': 1, ' ': 4, 'n': 1, 'a': 3, 'y': 1, 'l': 1, 't': 1, 'u': 1, 'i': 1}

In [ ]:
''''
Python Dictionary
Key → Value
'EN’ → 'English’
'FR’ → 'French'

In [52]:
k = { 'EN':'English'
,
'FR':'French' }
print(k['EN'])

English

In [57]:
fruits = ["apple", "banana", "cherry"] #lists []
print(fruits[1])
colors = ("red", "green", "blue") #tuples ()
print(colors)
animals = {'cat', 'dog'} #sets {}
print(animals)
person = {"name" : "Tom", "age" : 20} #dictionaries {}
print(person)

banana
('red', 'green', 'blue')
{'dog', 'cat'}
{'name': 'Tom', 'age': 20}

In [59]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [62]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),("Inventory", 1003))
for account in accounts:
    print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [64]:
# Python Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
  print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

In [71]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}

rows = [] # Initialize an empty list to store the account information

for account_number, account_info in accounts.items():
    print("Account number:", account_number)
    print("Account name:", account_info["name"])
    print("Account balance:", account_info["balance"])
    print("Account type:", account_info["type"])
    print("-"*20)
    row ={'number' : account_number, **account_info}
    rows.append(row)

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
--------------------
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
--------------------
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability
--------------------

# Python Control Logic and Loops

In [75]:
a, b = 5, 2
print("<", a<b) #a<b
print(">",a>b,b<a)
print(">=",a>=b, not(a<b))
print("<=",a<=b, not(a>b))

< False
> True True
>= True True
<= False False

In [77]:
# Python if else
score = 80
if score >=60 :
  print("Pass")
else:
  print("Fail")

Pass

In [78]:
score = 95
if score >= 90 :
    print("A")
elif score >=60 :
  print("Pass")
else:
  print("Fail")

A

In [80]:
# Python if elif else
score = 90
grade = ""
if score >=90:
  grade = "A"
elif score >= 80:
  grade = "B"
elif score >= 70:
  grade = "C"
elif score >= 60:
  grade = "D"
else:
  grade = "E"
print(grade)

A

In [84]:
# python for loops
for i in range(1,6):
  print(i)

1
2
3
4
5

In [87]:
# for loops
for i in range(1,10):
  for j in range(1,10):
    print(i, ' * ' , j , ' = ', i*j)
  print("-"*50)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
--------------------------------------------------
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
--------------------------------------------------
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
--------------------------------------------------
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
--------------------------------------------------
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
--------------------------------------------------
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
--------------------------------------------------
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
--------------------------------------------------
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
--------------------------------------------------
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
--------------------------------------------------

In [88]:
# while loops
age = 10
while age < 20:
  print(age, end=" ")
  age = age + 1

10 11 12 13 14 15 16 17 18 19

# Python function

In [91]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
  fv = pv * ((1 + (r)) ** n)
  return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))
print('fv = ', round(fv, 2))

194.87
fv =  194.87

## Classes/Object

In [93]:
# Python class
class MyClass: # clas: mẫu giấy tờ
  x = 5
c1 = MyClass() # object: sinh viên điền vào mẫu giấy tờ
print(c1.x)

5

In [97]:
class Person:
  def __init__(self, name, age): # hàm tạo, hàm trong class phải có từ khóa self
    self.name = name # định nghĩa hình thức
    self.age = age
p1 = Person("Alan", 20)
print(p1.name)
print(p1.age)

Alan
20

In [104]:
class Person:
  def __init__(self, name, age): # hàm tạo, hàm trong class phải có từ khóa self
    self.name = name # định nghĩa hình thức
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

## Module

## Python files/Directory

In [111]:
# Python File Input / Output
filename = 'mymodule.py'
with open(filename, 'w') as file:
  text = '''def greeting(name):
  print("Hello, " + name)
  '''
  file.write(text)
with open(filename, 'r') as file:
  text = file.read()
print(filename)
print(text)

mymodule.py
def greeting(name):
  print("Hello, " + name)

In [112]:
# mymodule.py
def greeting(name):
  print("Hello, " + name)

In [113]:
import importlib
import mymodule
importlib.reload(mymodule)
mymodule.greeting("Alan")

Hello, Alan

In [114]:
#Python main() function
def main():
  print("Hello World!")
if __name__ == "__main__":
  main()

Hello World!

## files and exception **handling**

In [122]:
with open("b.txt", "wt") as file:
  file.write("Hello")

try:
  f= open("b.txt")
  f.close()
except:
  print("khong mo duoc")
finally:
  print("ket thuc")

ket thuc